<!-- TODO: Needs more 'xs' classes.. to fit mobile!! -->
<div style="padding-top: 10px;" class="row vertical-align">
    <div class="col-xs-12 col-sm-2 col-md-2" style="padding-top:5px;">
        <label for="question-{{ngModel._id}}">Question:</label>
    </div>
    <div custom-popover popover-title="Enter Question" popover-html="popoverTemplates.questionInput" popover-placement="bottom" class="col-xs-10 col-sm-9 col-md-9">
        <input ng-change="changes=true" placeholder="What is the colour of the sky?" ng-model="ngModel.question" id="question-{{ngModel._id}}" class="form-control">
    </div>
</div>


<!-- Answers -->
<div style="padding-top: 10px;">
    <div class="row vertical-align">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="answer-{{ngModel._id}}">Add Answer: </label>
        </div>
        <div custom-popover popover-title="Add Answer" popover-html="popoverTemplates.addAnswerInput" popover-placement="bottom" class="col-xs-10 col-sm-9 col-md-9">
            <div class="input-group">
                <input ng-keyup="$event.keyCode == 13 && isValidAnswer() &&  addAnswer()" ng-model="answer" id="answer-{{ngModel._id}}" placeholder="blue" class="form-control">
                      <span class="input-group-btn">
                         <button ng-disabled="!isValidAnswer()" ng-click="addAnswer();" type="button" class="btn btn-success" aria-label="Left Align">
                             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                         </button>
                      </span>
            </div>
        </div>
    </div>

    <div style="padding-top: 10px;" class="row vertical-align">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label id="answers-{{ngModel._id}}">Answers: </label>
        </div>
        <div custom-popover popover-title="Answers" popover-html="popoverTemplates.answersTable" popover-placement="top" style="max-height:150px;overflow-y: auto" class="col-xs-9 col-sm-8 col-md-8">
            <table class="table table-hover table-condensed">
                <tr id="{{answer}}" style="-webkit-transition:background-color 1.5s linear; cursor:pointer" ng-repeat="answer in ngModel.answers track by $id(answer)">
                    <td ng-click="ngModel.answer=$index;changes = true;" title="Click to mark as correct answer">
                        <span>{{answer}}</span>
                    </td>
                    <td ng-click="removeAnswer($index);" title="Click to remove answer">
                        <span style="color:red;cursor:pointer;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                    <td ng-show="ngModel.answer==$index" title="Marked as the correct answer">
                        <span style="color:green;cursor:pointer;" class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </td>
                    <td ng-click="ngModel.answer=$index;changes = true;" ng-show="ngModel.answer!=$index" title="Click to mark as correct answer"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Additional Call Info -->
<div class="row vertical-align">
    <div class="col-xs-12 col-sm-2 col-md-2">
        <label id="additionalInfo-{{ngModel._id}}">Call Information: </label>
    </div>
    <div class="col-xs-11 col-sm-9 col-md-9">
        <ul class="nav nav-tabs">
            <li custom-popover popover-title="Background Call Information" popover-html="popoverTemplates.callInfoBackgroundInput" popover-placement="top" role="presentation" ng-click="view='background'" ng-class="{active: view=='background'}">
                <a href="javascript:void(0);">Background</a>
            </li>
            <li custom-popover popover-title="Detailed Call Log Information" popover-html="popoverTemplates.callInfoDetailsInput" popover-placement="top" role="presentation" ng-click="view='details'" ng-class="{active: view=='details'}">
                <a href="javascript:void(0);">Details</a>
            </li>
        </ul>
        <!-- Background form -->
        <div style="padding-top:10px;max-height:400px;overflow-y: scroll;overflow-x:hidden;" ng-show="view=='background'">
            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerId-{{ngModel._id}}">Unique ID:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.uniqueID" id="callerId-{{ngModel._id}}" placeholder="ID" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerName-{{ngModel._id}}">Caller Name:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.callerName" id="callerName-{{ngModel._id}}" placeholder="Status" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerAddress-{{ngModel._id}}">Caller Address:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.callerAddress" id="callerAddress-{{ngModel._id}}" placeholder="Address" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerTelephone-{{ngModel._id}}">Caller Number:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.callerTelephone" id="callerTelephone-{{ngModel._id}}" placeholder="Status" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerStatus-{{ngModel._id}}">Caller Status:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.callerStatus" id="callerStatus-{{ngModel._id}}" placeholder="Status" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="callerMethod-{{ngModel._id}}">Contact Method:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.contactMethod" id="callerMethod-{{ngModel._id}}" placeholder="Status" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="incidentLocation-{{ngModel._id}}">Incident Location:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.incidentLocation" id="incidentLocation-{{ngModel._id}}" placeholder="Status" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="openCodeCategory-{{ngModel._id}}">Open Code Category:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.openCodeCategory" id="openCodeCategory-{{ngModel._id}}" placeholder="Open Code Category" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="response-{{ngModel._id}}">Response:</label>
                </div>
                <div class="col-xs-12 col-md-8">
                    <input ng-model="ngModel.additionalInfo.background.response" id="response-{{ngModel._id}}" placeholder="Response" class="form-control">
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="dateReceived-{{ngModel._id}}">Date Received:</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="well well-sm" style="overflow-x:auto">
                        <datepicker  ng-model="ngModel.additionalInfo.background.dateReceived" id="dateReceived-{{ngModel._id}}"
                                     min-date="minDate" show-weeks="true" >
                        </datepicker>
                    </div>
                </div>
            </div>

            <div style="padding-top:10px;" class="row vertical-align">
                <div class="col-xs-12 col-md-4">
                    <label for="dateRecorded-{{ngModel._id}}">Date Recorded:</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="well well-sm" style="overflow-x:auto">
                        <datepicker  ng-model="ngModel.additionalInfo.background.dateRecorded" id="dateRecorded-{{ngModel._id}}"
                                     show-weeks="true">
                        </datepicker>
                    </div>
                </div>
            </div>
        </div>
        <!-- Details -->
        <div style="padding-top:10px;max-height:400px;overflow-y: auto;overflow-x:hidden;" ng-show="view=='details'">
            <div ng-repeat="callDetails in ngModel.additionalInfo.details track by $index">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-xs-offset-8 col-xs-4 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1">
                        <button ng-click="removeCallDetail($index);" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-12 col-md-3">
                        <label >Log:</label>
                    </div>
                    <div class="col-xs-9 col-md-8">
                        <input ng-model="callDetails.log" placeholder="Log" class="form-control">
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-12 col-md-3">
                        <label >Time:</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <timepicker ng-model="callDetails.date" show-meridian="false"></timepicker>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-12 col-md-3">
                        <label >Date:</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="well well-sm" style="overflow-x:auto">
                            <datepicker ng-model="callDetails.date"
                                         show-weeks="true" >
                            </datepicker>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-click="addCallDetail()" title="Add call detail" style="margin-top:0px;text-align:center;cursor:pointer;margin-top:0px;" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div style="height: 20px;color: green" class="panel-title">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Submit button -->
<div style="padding-top: 10px;" class="row vertical-align">

    <div class="col-xs-offset-1 col-xs-5 col-sm-offset-6 col-sm-4 col-md-offset-6 col-md-4">
        <i style="float:right;padding-top:5px;color:green" ng-bind="updateMessage"></i>
    </div>

    <div class="col-xs-3 col-md-2">
        <button style="display:inline" ng-click="questionUpdate(ngModel, updateCallback)" type="button" class="btn btn-default">Update</button>
    </div>
</div>