<div style="padding-top: 10px;" class="row vertical-align">
    <div class="col-xs-12 col-sm-2 col-md-2" style="padding-top:5px;">
        <label for="question-{{ngModel._id}}">Question:</label>
    </div>
    <div custom-popover popover-title="Enter Question" popover-html="popoverTemplates.questionInput" popover-placement="bottom" class="col-xs-10 col-sm-9 col-md-9">
        <input ng-disabled="isLocked" ng-change="changes=true" placeholder="What is the colour of the sky?" ng-model="ngModel.question" id="question-{{ngModel._id}}" class="form-control">
    </div>
</div>


<!-- Answers -->
<div style="padding-top: 10px;">
    <div class="row vertical-align">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="answer-{{ngModel._id}}">Add Answer: </label>
        </div>
        <div custom-popover popover-title="Add Answer" popover-html="popoverTemplates.addAnswerInput" popover-placement="bottom" class="col-xs-10 col-sm-9 col-md-9">
            <div class="input-group">
                <input ng-disabled="isLocked" ng-keyup="$event.keyCode == 13 && isValidAnswer() &&  addAnswer()" ng-model="answer" id="answer-{{ngModel._id}}" placeholder="blue" class="form-control">
                      <span class="input-group-btn">
                         <button ng-disabled="!isValidAnswer()" ng-click="addAnswer();" type="button" class="btn btn-success" aria-label="Left Align">
                             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                         </button>
                      </span>
            </div>
        </div>
    </div>

    <div style="padding-top: 10px;" class="row vertical-align">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label id="answers-{{ngModel._id}}">Answers: </label>
        </div>
        <div custom-popover popover-title="Answers" popover-html="popoverTemplates.freeTextAnswersTable" popover-placement="top" style="max-height:150px;overflow-y: scroll" class="col-xs-9 col-sm-8 col-md-8">
            <table class="table table-hover table-condensed">
                <tr id="{{answer}}" style="-webkit-transition:background-color 1.5s linear;" ng-repeat="answer in ngModel.answer track by $id(answer)">
                    <td>
                        <span>{{answer}}</span>
                    </td>
                    <td ng-hide="isLocked" title="Click to remove answer">
                        <span ng-click="removeAnswer($index);" style="color:red;cursor:pointer;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Submit button -->
<div style="padding-top: 10px;" class="row vertical-align">

    <div class="col-xs-offset-1 col-xs-5 col-sm-offset-6 col-sm-4 col-md-offset-6 col-md-4">
        <i style="float:right;padding-top:5px;color:green" ng-bind="updateMessage"></i>
    </div>

    <div class="col-xs-3 col-md-2">
        <button ng-disabled="isLocked" style="display:inline" ng-click="questionUpdate(ngModel, updateCallback)" type="button" class="btn btn-default">Update</button>
    </div>
</div>