<section style="margin-top: 25px">
    <!-- Loader -->
    <div ng-show="assessment==null" class="panel panel-default">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div style="margin-left:27px;">Loading..</div>
        </div>
    </div>
    <!-- Content -->
    <div ng-show="assessment!=null" class="panel panel-default">
        <div style="text-align: center" class="panel-body">
            <h2>Edit Assessment</h2>

            <form class="form-inline" >
                <div class="form-group" custom-popover popover-title="Edit Assessment Title" popover-html="popoverTemplates.assessmentTitleInput" popover-placement="bottom">
                    <label for="title"><h4>Title:</h4></label>
                    <div class="input-group">
                        <input id="title" type="text" class="form-control" ng-model="tempTitle" placeholder="Assessment title..">
                          <span class="input-group-btn">
                            <button ng-disabled="tempTitle==assessment.title|| tempTitle==''" ng-click="updateAssessment();" class="btn btn-default" type="button">
                                <span title="Save assessment title" class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>
                          </span>
                    </div>
                </div>
            </form>
        </div>

        <div style="text-align:center">
            <i style="color: #FFCC00" ng-show="isMobile()">
                Due to the scale of the assessments, it is highly recommended that you use a full-screen desktop
                computer to edit assessments.
            </i>
        </div>

        <div style="margin-left: 10px;margin-right:10px;">
            <h3>'{{assessment.title}}' Versions</h3>
            <div style="margin-left: 10px;margin-right:10px;" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div style="margin-top:0px;" ng-init="collapsedQuestions.push([]);collapsedVersions.push(true)" ng-repeat="version in assessment.versions track by $index" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span custom-popover popover-title="Remove Version" popover-html="popoverTemplates.deleteVersion" ng-hide="version.locked" popover-placement="left" ng-click="deleteVersion(version._id, $index+1)" style="cursor:pointer;padding-left:10px;float:right" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span custom-popover popover-title="Version Locked" popover-html="popoverTemplates.lockedVersion" popover-placement="left" ng-show="version.locked" style="padding-top:1px;padding-left:10px;float:right" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>

                            <span custom-popover popover-title="Show/hide Questions" popover-html="popoverTemplates.showQuestions" popover-placement="left" ng-show="collapsedVersions[$index]" ng-click="collapsedVersions[$index]=!collapsedVersions[$index]" style="cursor:pointer;float:right" class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                            <span custom-popover popover-title="Show/hide Questions" popover-html="popoverTemplates.showQuestions" popover-placement="left" ng-show="!collapsedVersions[$index]" ng-click="collapsedVersions[$index]=!collapsedVersions[$index]" style="cursor:pointer;float:right" class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>

                            <p>
                                Version {{$index+1}}
                            </p>
                        </h4>
                    </div>

                    <div>
                        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                            <div collapse="collapsedVersions[$index]" style="padding:0px" class="panel-body">
                                <div style="margin-top:0px" ng-init="collapsedQuestions[$parent.$index].push(true)" ng-repeat="QA in version.QAs track by $index" class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-7 col-sm-3 col-md-3">
                                                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                                Question {{$index+1}}
                                            </div>
                                            <div class="col-xs-5 col-sm-offset-7 col-sm-2 col-md-offset-7 col-md-2">

                                                <span custom-popover popover-title="Remove Question" popover-html="popoverTemplates.deleteQuestion" popover-placement="left" ng-hide="version.locked" ng-click="deleteQuestion({id: version._id, no:$parent.$index+1}, {id: QA._id, no:$index+1})" style="cursor:pointer;padding-left:10px;float:right" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                <span custom-popover popover-title="Question Locked" popover-html="popoverTemplates.lockedQuestion" popover-placement="left" ng-show="version.locked" style="padding-top:1px;padding-left:10px;float:right" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>

                                                <span custom-popover popover-title="Show/hide Question" popover-html="popoverTemplates.showQuestion" popover-placement="left" ng-show="collapsedQuestions[$parent.$index][$index]" ng-click="collapsedQuestions[$parent.$index][$index]=!collapsedQuestions[$parent.$index][$index]" style="cursor:pointer;float:right" class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                                                <span custom-popover popover-title="Show/hide Question" popover-html="popoverTemplates.showQuestion" popover-placement="left" ng-show="!collapsedQuestions[$parent.$index][$index]" ng-click="collapsedQuestions[$parent.$index][$index]=!collapsedQuestions[$parent.$index][$index]" style="cursor:pointer;float:right" class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div collapse="collapsedQuestions[$parent.$index][$index]" class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                                                <question is-locked="version.locked" update-callback="updateQuestion" question-number="$index" version="version._id" ng-model="QA"></question>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Add question panel -->
                                <div ng-hide="version.locked" custom-popover popover-title="Add Question" popover-html="popoverTemplates.addQuestion" popover-placement="top" ng-click="addQuestion(version._id)" title="Add question" style="margin-top:0px;text-align:center;cursor:pointer;margin-top:0px;" class="panel panel-default">
                                    <div class="panel-heading">
                                        <div style="height: 20px;color: green" class="panel-title">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add version panel -->
                <div custom-popover popover-title="Add Version" popover-html="popoverTemplates.addVersion" popover-placement="top" ng-click="addVersion()" title="Add version" style="text-align:center;cursor:pointer;margin-top:5px;" class="panel panel-default">
                    <div class="panel-heading">
                        <div style="height: 20px;color: green" class="panel-title">
                            <span style="text-align:center" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>